body, h1, h2, h3, h4, h5, h6, p, ul, li {
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #F7FAFF;
}

h2, h3 {
    margin-bottom: 1em;
}

.up {
    margin-top: -5em;
}

.card {
    border: 0px!important;
}