body,
h4,
h5,
h6,
p,
ul,
li {
    font-family: "Lato", sans-serif;
}

body {
    background: #f7faff;
}

h1,
h2,
h3 {
    font-family: "Style Script", cursive;
    margin-bottom: 1em;
}

.up {
    margin-top: -5em;
}

.card {
    border: 0px !important;
}

#map {
	width: 100%;
  	height: 400px;
	margin-top: 30px;
}